{% extends 'base.html.twig' %}
{% block title %}
{{places.titlePlace }}
{% endblock %}
{% block content %}
    <!-- Home -->

    <div class="home">
        <div class="home_background parallax-window" data-parallax="scroll" data-image-src="{{ asset('/uploads/'~ places.picturePlace) }}"></div>
        <div class="home_content">
            <div class="home_title">{{ places.titlePlace }}</div>
        </div>
    </div>

    <!-- Offers -->

    <div class="listing">

        <!-- Search -->


        <!-- Single Listing -->

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single_listing">

                        <!-- Hotel Info -->

                        <div class="hotel_info">

                            <!-- Title -->
                            <div class="hotel_title_container d-flex flex-lg-row flex-column">
                                <div class="hotel_title_content">
                                    <h1 class="hotel_title">{{ places.titlePlace }}</h1>
                                    <div class="rating_r rating_r_4 hotel_rating">
                                        <i></i>
                                        <i></i>
                                        <i></i>
                                        <i></i>
                                        <i></i>
                                    </div>
                                    <div class="hotel_location">{{ places.category }}</div>
                                </div>
                                <div class="hotel_title_button ml-lg-auto text-lg-right">
                                    <div class="hotel_review">
                                        <div class="hotel_review_content">
                                            <div class="hotel_review_title">{{ places.location }}</div>
                                        </div>
                                        <div class="hotel_review_rating_perfect text-center">{{ places.nbView }} <i class="fa fa-eye"></i></div>
                                    </div>
                                </div>

                            </div>

                            <!-- Listing Image -->



                            <!-- Hotel Gallery -->

                            <div class="hotel_gallery" >
                                <div class="hotel_slider_container">
                                    <div class="owl-carousel owl-theme hotel_slider"  >
                                        {% for image in places.media %}
                                        <!-- Hotel Gallery Slider Item -->

                                            <div class="owl-item">
                                                <a class="colorbox cboxElement" href="{{ asset('/uploads/images/'~ image.imagePlace) }}">
                                                    <img src="{{ asset('/uploads/images/'~ image.imagePlace) }}" alt="https://unsplash.com/@jbriscoe">
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>

                                    <!-- Hotel Slider Nav - Prev -->
                                    <div class="hotel_slider_nav hotel_slider_prev">
                                        <svg version="1.1" id="Layer_6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
											<defs>
                                                <linearGradient id='hotel_grad_prev'>
                                                    <stop offset='0%' stop-color='#fa9e1b'/>
                                                    <stop offset='100%' stop-color='#8d4fff'/>
                                                </linearGradient>
                                            </defs>
                                            <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
											M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
											C22.545,2,26,5.541,26,9.909V23.091z"/>
                                            <polygon class="nav_arrow" fill="#F3F6F9" points="15.044,22.222 16.377,20.888 12.374,16.885 16.377,12.882 15.044,11.55 9.708,16.885 11.04,18.219
											11.042,18.219 "/>
										</svg>
                                    </div>

                                    <!-- Hotel Slider Nav - Next -->
                                    <div class="hotel_slider_nav hotel_slider_next">
                                        <svg version="1.1" id="Layer_7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
											<defs>
                                                <linearGradient id='hotel_grad_next'>
                                                    <stop offset='0%' stop-color='#fa9e1b'/>
                                                    <stop offset='100%' stop-color='#8d4fff'/>
                                                </linearGradient>
                                            </defs>
                                            <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
										M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
										C22.545,2,26,5.541,26,9.909V23.091z"/>
                                            <polygon class="nav_arrow" fill="#F3F6F9" points="13.044,11.551 11.71,12.885 15.714,16.888 11.71,20.891 13.044,22.224 18.379,16.888 17.048,15.554
										17.046,15.554 "/>
										</svg>
                                    </div>

                                </div>
                            </div>

                            <!-- Hotel Info Text -->

                            <div class="hotel_info_text">
                                <p>{{ places.DescriptionPlace }}</p>
                            </div>

                            <!-- Hotel Info Tags -->

                            <div class="hotel_info_tags">
                                <ul class="hotel_icons_list">
                                    <li class="hotel_icons_item"><img src="{{ asset('front/images/post.png') }}" alt=""></li>
                                    <li class="hotel_icons_item"><img src="{{ asset('front/images/compass.png') }}" alt=""></li>
                                    <li class="hotel_icons_item"><img src="{{ asset('front/images/bicycle.png') }}" alt=""></li>
                                    <li class="hotel_icons_item"><img src="{{ asset('front/images/sailboat.png') }}" alt=""></li>
                                </ul>
                            </div>

                        </div>

                        <!-- Rooms -->



                        <!-- Reviews -->

                        <div class="reviews">

                            <div class="reviews_title" align="center">Commentaires</div>
                            <div class="reviews_container">

                                <!-- Review -->
                                {% for comment in places.commentsPlaces %}
                                <div class="review">
                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-8">
                                            <div class="review_content">
                                                <div class="review_title_container">
                                                    <div class="review_title">{{ comment.titleComment }}</div>
                                                    <div class="review_rating">{{ comment.createdAt|date("d/m ") }}</div>
                                                </div>
                                                <div class="review_text">
                                                    <p>
                                                        {{ comment.content }}
                                                    </p>
                                                </div>
                                                <div class="review_name">{{ comment.nickname }} / E-mail : {{ comment.email }}</div>
                                                <div class="review_date">Commenté le{{ comment.createdAt|date("d/m/Y ") }} à {{ comment.createdAt|date("H:i") }}</div>
                                            </div>

                                        </div>
                                        <div class="col-lg-2"></div>
                                    </div>
                                </div>
                                {% endfor %}
                                <!-- Review -->


                            </div>
                        </div>

                        <!-- Location on Map -->


                    </div>


                </div>

            </div>
        </div>



        <div class="search">
            <div class="search_inner">

                <!-- Search Contents -->

                <div class="container fill_height no-padding">
                    <div class="row fill_height no-margin">
                        <div class="col fill_height no-padding">

                            <!-- Search Tabs -->

                            <div class="search_tabs_container">
                                <div class="search_tabs d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                                    <div class="search_tab active d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="images/suitcase.png" alt=""><span>Ajouter un commentaire</span></div>

                                </div>
                            </div>
                            <div class="search_panel">
                                 {{ form_start(commentForm, {'id':'search_form_3','attr': {'class': 'search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start'}}) }}
                                    <div class="search_item">
                                        <div>Commentez</div>
                                        {{form_widget(commentForm.content, {'id':'input-categorie','attr': {'class': 'destination search_input','placeholder':'Avez-vous quelques choses à dire ? Commentez ici ! '}}) }}
                                    </div>
                                <div class="search_item">
                                    <div>Titre du commentaire</div>
                                    {{form_widget(commentForm.titleComment, {'id':'input-categorie','attr': {'class': 'destination search_input','placeholder':'Saisir un titre'}}) }}
                                </div>
                                <div class="search_item">
                                    <div>Votre E-mail</div>
                                    {{form_widget(commentForm.email, {'id':'input-categorie','attr': {'class': 'destination search_input','placeholder':'Votre E-mail'}}) }}
                                </div>
                                <div class="search_item">
                                    <div>Votre pseudo</div>
                                    {{form_widget(commentForm.nickname, {'id':'input-categorie','attr': {'class': 'destination search_input','placeholder':'Votre pseudo'}}) }}
                                </div>
                                <div class="search_item">
                                    <div>Rgpd</div>
                                    {{form_widget(commentForm.rgpd, {'id':'input-categorie','attr': {'class': 'destination search_input','placeholder':''}}) }}
                                </div>
                                    <button type="submit" class="button search_button">Envoyer le commentaire<span></span><span></span><span></span></button>
                                    {{ form_end(commentForm) }}

                            </div>

                            <!-- Search Panel -->



                            <!-- Search Panel -->


                            <!-- Search Panel -->

                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>

{% endblock %}