 {{ form_start(form) }}


    <div class="card">
        <div class="card-body">
            <div class="card-title">Create New Blog</div>
            <hr>

                <div class="form-group">
                    <label for="input-6">Title</label>
                    {{ form_widget(form.title ,{'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.title) }}
                </div>
                <div class="form-group">
                    <label for="input-7">Description</label>
                    {{ form_widget(form.description ,{'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.description) }}
                </div>
                <div class="form-group">
                    <label for="input-8">Picture</label>
                    {{ form_widget(form.picture ,{'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    <label for="input-9">Community</label>
                    {{ form_widget(form.community ,{'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.community) }}
                <div class="form-group py-2">
                    <div class="icheck-material-white">
                        <input type="checkbox" id="user-checkbox2" checked=""/>
                        <label for="user-checkbox2">I Agree Terms & Conditions</label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-light btn-round px-5"><i class="icon-lock"></i> {{ button_label|default('Save') }}</button>
                </div>

        </div>
    </div>

{{ form_end(form) }}
