{% extends 'baseBack.html.twig' %}
{% block title %}Blog index{% endblock %}
{% block content %}
    <h1>Blog</h1>
    <table class="table">
        <thead>
        <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Picture </th>
                <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for blog in blogs %}
            <tr>
                <td>{{ blog.id }}</td>
                <td>{{ blog.title }}</td>
                <td>{{ blog.description }}</td>
                <td><img src="{{ asset('uploads/images/' ~ blog.picture) }}" height="50" alt="#"></td>
                <td>
                    <a href="{{ path('blog_show', {'id': blog.id}) }}">Show</a>
                    <a href="{{ path('blog_edit', {'id': blog.id}) }}">Edit</a>
                    <a href="{{ path('blog_delete',{'id': blog.id}) }}" >Delete </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('blog_new') }}">Create new</a>
{% endblock %}
